.invalid {
  border: 1px solid red !important;
}

.invalid:focus {
  outline: none !important;
  box-shadow: none;
}

.valid {
  border: 1px solid blue !important;
}

.valid:focus {
  outline: none !important;
  box-shadow: none;
}
.btn {
  padding: 12px 30px;
  border-radius: 5px;
  background-color: #e27b36;
  box-shadow: 0 4px 8px 0 #5a5858;
  border: none;
  margin: 20px 0;
  display: block;
}
.btn:active {
  transform: translateY(5%);
  background-color: #502305;
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background-color: rgb(167, 167, 167);
}
.btnSignUp,
.btnSignIn {
  background-color: transparent;
  border: none;
  display: block;
  margin: 20px;
  color: rgb(241, 56, 49);
}
.btnSignUp:focus,
.btnSignIn:focus {
  outline: none;
}

.spinner {
  margin: 50px;
  height: 100px;
  width: 100px;
  color: rgb(63, 56, 56);
}

.forgotPwd {
  margin-top: 300px;
}
